# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# dbt
target/
dbt_packages/
logs/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Environment variables
.env

# Streamlit cache
.streamlit/secrets.toml

# Temporary files
*.log